# Resampling Datetime Data
Kailin Kleintjes
___

Original data source: https://www.kaggle.com/datasets/emmanuelfwerr/london-weather-data

# Part One

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

url = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vT_jChgNsQbHbg4TGepzIqk8XC9DTIKmyyxb1upo5cfZCgbfIUQc2ZC0YMzuU5uApP140Ob49KBjdqh/pub?gid=1198589591&single=true&output=csv'
df = pd.read_csv(url)
df.head()

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
0,19790101,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0
1,19790102,6.0,1.7,27.0,1.6,-2.6,-7.5,0.0,102530.0,8.0
2,19790103,5.0,0.0,13.0,1.3,-2.8,-7.2,0.0,102050.0,4.0
3,19790104,8.0,0.0,13.0,-0.3,-2.6,-6.5,0.0,100840.0,2.0
4,19790105,6.0,2.0,29.0,5.6,-0.8,-1.4,0.0,102250.0,1.0

## 1.Convert the date column to datetime dtype.

In [6]:
df['date'] = pd.to_datetime(df['date'], format= '%Y%m%d')
df['date']

0       1979-01-01
1       1979-01-02
2       1979-01-03
3       1979-01-04
4       1979-01-05
           ...
15336   2020-12-27
15337   2020-12-28
15338   2020-12-29
15339   2020-12-30
15340   2020-12-31
Name: date, Length: 15341, dtype: datetime64[ns]

## 2. Set the date column as the index.

In [11]:
df = df.set_index('date')
df

KeyError: "None of ['date'] are in the columns"

## 3. Filter out only the required data:
Keep only data from the year 2000 or later.

Keep only the following features:
precipitation
mean_temp
min_temp
max_temp
snow_depth

## 4. Impute any missing values.

# Part Two